body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 45%;
  background-color: black;
  left: -100%;
  transition: 850ms;
}

.sidebar.active {
  left: 0;
  transition: 500ms;
}

li {
  padding: 10px;
}

.sidebar-menu a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.sidebar-menu a:hover {
  color: #f99a92;
  transition: 200ms;
}

.cross img {
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: 410px;
  margin-top: -70px;
  height: 70px;
  width: 70px;
  /*border: 2px solid white;*/
}

.about-content {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: grid;
  grid-template-columns: 10% 90%;
  height: 280px;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.description-container {
  /*height: 305px;*/
  width: 100%;
  overflow: hidden;
}

.hamburger-icon {
  padding: 0;
  margin: 0;
  background-image: url("./img/Navigation\ final.jpg");
  background-position: center;
  background-size: cover;
  height: 65px;
  width: 65px;
  /* border: 2px solid red;*/
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 100px;
  letter-spacing: 25px;
  color: white;
  font-family: "Arvo", serif;
  font-weight: 500;
}

.underline {
  display: flex;
  width: 450px;
  height: 2.5px;
  border-radius: 100px;
  background-color: white;
  margin-left: 80px;
  margin-top: 3px;
}

.desc {
  font-size: 22px;
  margin: 60px 60px 50px 80px;
  text-align: left;
  justify-content: left;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 480px) {
  .title-container {
    grid-template-columns: 20% 80%;
    height: 200px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100%;
    /* grid-template-columns: 45%;*/
    background-color: black;
    left: -200%;
    transition: 850ms;
  }

  .sidebar-menu a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    font-family: "Bebas Neue", cursive;
  }

  .cross img {
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 0rem;
    margin-left: 200px;
    margin-top: -18vh;
    /*margin-top: -170px;*/
    height: 70px;
    width: 70px;
    /*border: 2px solid white;*/
  }

  .title {
    display: flex;
  }

  .page-title {
    font-size: 50px;
    letter-spacing: 5px;
    /*border: 2px solid red;*/
    margin-left: -30px;
  }

  .hamburger-menu {
    /*border: 2px solid red;*/
  }

  .hamburger-icon {
    height: 50px;
    width: 50px;
    border: none;
  }

  .us {
    display: none;
  }

  .underline {
    margin: 0;
    width: 110px;
    margin-left: 35px;
  }

  .desc {
    font-size: 21px;
    margin: 35px 30px;
  }
}
