body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-content {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 50%;
  background-color: black;
  left: -100%;
  transition: 850ms;
}

.sidebar.active {
  left: 0;
  transition: 500ms;
}

li {
  padding: 10px;
  list-style: none;
}

.sidebar-menu a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.sidebar-menu a:hover {
  color: #f99a92;
  transition: 200ms;
}

.cross img {
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: 410px;
  margin-top: -70px;
  height: 70px;
  width: 70px;
  /*border: 2px solid white;*/
}

.contents {
  /*border: 2px solid red;*/
}

.intro {
  margin: 0;
  margin-bottom: 7px;
  font-size: 65px;
  font-weight: 300;
}

.description {
  margin: 0;
  font-size: 23px;
  font-weight: 300;
}

.socials {
  /*border: 2px solid red;*/
  margin-top: 60px;
  margin-left: 40px;
}

.socials a {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
}

.gmail {
  height: 45px;
}

.instagram,
.twitter {
  height: 42px;
}

.hamburger-btn {
  padding: 0;
  margin: 0;
  background-image: url("./img/Navigation\ final.jpg");
  background-position: center;
  background-size: cover;
  height: 65px;
  width: 65px;
  cursor: pointer;
  margin-top: 70px;
  margin-left: -210px;
  margin-bottom: 80px;
}

.contact-message {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 32px;
  letter-spacing: 2px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}

.contact-us-form label {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}

.contact-us-form input {
  margin-top: 0;
  padding: 5px 0px 7px 0px;
  font-size: 18px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.contact-us-form ::placeholder {
  font-size: 18px;
  filter: opacity(0.7);
  font-family: "Montserrat", sans-serif;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: #ffffff;
  font-size: 21px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  align-self: flex-start;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.arrow-right {
  width: 20px;
  margin-left: 10px;
}

.separator {
  width: 320px;
  height: 1.3px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0;
  margin-bottom: 35px;
}
