* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
}

/*
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

.hero-content {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.contents {
  margin-top: 40px;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  object-position: center;
}

hr {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  height: 2px;
  background: black;
}

.hamburger {
  width: 55px;
  height: 55px;
  align-self: flex-start;
  margin-left: 70px;
  /*margin: 70px;*/
  cursor: pointer;
}

.title {
  font-size: 90px;
  letter-spacing: 6px;
  padding-left: 70px;
  font-family: "Bebas Neue", cursive;
}

span {
  color: #f99a92;
}

.description {
  text-align: justify;
  padding-right: 80px;
  font-size: 25px;
  font-weight: normal;
  padding-left: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  margin-bottom: 2rem;
}

.learn-more {
  margin-left: 70px;
  /*font-family: "Poppins", sans-serif;*/
}

.learn-more-btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 0.3em;
  margin-left: 70px;
  background: #f99a92;
  width: 180px;
  height: 50px;
  letter-spacing: 0.3px;
  border-radius: 9px;
  border: #f99a92;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 575px;
  height: 100vh;
  grid-template-columns: 45%;
  background-color: black;
  left: -100%;
  transition: 850ms;
}

.sidebar.active {
  left: 0;
  transition: 500ms;
}

li {
  padding: 10px;
}

.sidebar-menu a {
  text-decoration: none;
<<<<<<< HEAD
  font-size: 55px;
=======
  font-size: 45px;
>>>>>>> betaVersion
  color: white;
  font-family: "Bebas Neue", cursive;
}

.sidebar-menu a:hover {
  color: #f99a92;
  transition: 200ms;
}

.cross img {
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
<<<<<<< HEAD
  margin-left: 420px;
  margin-top: -90px;
=======
  margin-left: 410px;
  margin-top: -110px;
>>>>>>> betaVersion
  height: 70px;
  width: 70px;
  /*border: 2px solid white;*/
}

.hamburger-icon {
  border: none;
  background: white;
}
